<div class="Nav">
<a routerLink="/recipes" style="margin-right: 10px">Home</a>
<a routerLink="/recipes/:id" style="margin-right: 10px">Details</a>
<a routerLink="/recipes/create" style="margin-right: 10px">Add Recipe</a>
<a routerLink="/recipes/edit/:id" style="margin-right: 10px">Edit / Update Recipe</a>
<a routerLink="/ingredients" style="margin-right: 10px">Ingredients</a>
<a routerLink="/ingredients/:id" style="margin-right: 10px">Ingredients Detail</a>
<a routerLink="/cuisine" style="margin-right: 10px">Cuisines</a>
<a routerLink="/cuisine/:id" style="margin-right: 10px">Cuisine Details</a>
<a routerLink="/about" style="margin-right: 10px">About</a>
<a routerLink="/statistics" style="margin-right: 10px">Statistics</a>
</div>
<br>